<div class="row m-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">
                <div class="checkbox">
                    <i class="fa fa-circle-thin" (click)="onSelect(-1)" *ngIf="!tableModel.checkAll"></i>
                    <i class="fa fa-check-circle-o" (click)="onSelect(-1)" *ngIf="tableModel.checkAll"></i>
                </div>
            </th>
            <th scope="col" *ngFor="let headItem of tableModel.head">{{headItem.text}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bodyItem of tableModel.data; let i = index">
            <td scope="col">
                <div class="checkbox">
                    <i class="fa fa-circle-thin" (click)="onSelect(i)" *ngIf="!bodyItem.checked"></i>
                    <i class="fa fa-check-circle-o" (click)="onSelect(i)" *ngIf="bodyItem.checked"></i>
                </div>
            </td>
            <td *ngFor="let headItem of tableModel.head">
                {{bodyItem[headItem.key]}}
            </td>
        </tr>
        </tbody>
    </table>

    <div class="col px-0 d-inline-flex justify-content-between align-items-center">
        <div class="btn-group dropup">
            <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{pageRow}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" tabindex="" *ngFor="let pageRow of pageRowArray" (click)="changePageRow(pageRow)">{{pageRow}}</a>
            </div>
        </div>
        <nav>
            <ul class="pagination pagination-sm mb-0">
                <li class="page-item" [class.disabled]="currentPage === 1"
                    (click)="changeCurrentPage(1)">
                    <a class="page-link">首页</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === 1"
                    (click)="changeCurrentPage(currentPage - 1)">
                    <a class="page-link">上一页</a>
                </li>
                <li class="page-item" [class.active]="currentPage === 1">
                    <a class="page-link" tabindex=""
                       (click)="changeCurrentPage(currentPage === pageTotal ? pageTotal - 2 : currentPage !== 1 ? currentPage - 1 : 1)">
                        {{currentPage === pageTotal ? pageTotal - 2 : currentPage !== 1 ? currentPage - 1 : 1}}
                    </a>
                </li>
                <li class="page-item" [class.active]="currentPage !== 1 && currentPage !== pageTotal" *ngIf="pageTotal > 1">
                    <a class="page-link" tabindex=""
                       (click)="changeCurrentPage(currentPage === 1 ? 2 : currentPage === pageTotal ? pageTotal - 1 : currentPage)">
                        {{currentPage === 1 ? 2 : currentPage === pageTotal ? pageTotal - 1 : currentPage}}
                    </a>
                </li>
                <li class="page-item" [class.active]="currentPage === pageTotal" *ngIf="pageTotal > 2">
                    <a class="page-link" tabindex=""
                       (click)="changeCurrentPage(currentPage === 1 ? 3 : currentPage !== pageTotal ? currentPage + 1 : pageTotal)">
                        {{currentPage === 1 ? 3 : currentPage !== pageTotal ? currentPage + 1 : pageTotal}}
                    </a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === pageTotal"
                    (click)="changeCurrentPage(currentPage + 1)">
                    <a class="page-link">下一页</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === pageTotal"
                    (click)="changeCurrentPage(pageTotal)">
                    <a class="page-link">尾页</a>
                </li>
            </ul>
        </nav>
        <span>共{{pageTotal}}页，{{total}}条数据</span>
    </div>
</div>
